body {
	background-color: #F3F1F5;
	color: #7F7C82;
	font-family: 'Lora', serif;
	font-size: 17px;
}

h1, h2, h3 {
	font-family: 'Roboto', sans-serif;

}
h1 {
	color: #7F7C82;
	font-weight: 900;
	font-size: 32px;
}

h2 {
	color: #BFA2DB;
	font-size: 24px;
	font-weight: lighter ;
	font-weight: 400;
}

a{
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	color: #7F7C82;
	font-weight: bolder;
}

a:hover {
	color: #BFA2DB;
}


/* Custom design with class*/

.container {
	width: 700px;
	margin: 40px auto;	
}

.card-white{
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	margin: 20px 0px;
	text-align: center;
}

.img-circle {
	border-radius: 200%;
}
img {
	width: 130px;
	height: 130px;
}
.img-bato1{
	width: 170px;
	height: 170px;
	border-radius: 10px;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
	border: 8px solid #ddd;
}

.img-cascad{
	width: 170px;
	height: 170px;
	border-radius: 10px;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
	border: 8px solid #ddd;
}

.img-ordi{
	width: 170px;
	height: 170px;
	border-radius: 10px;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
	border: 8px solid #ddd;
}

.btn-blue {
	background-color: #BFA2DB;
	color: white;
	padding: 15px 20px;
	border-radius: 4px;
}

.btn-blue:hover {
	background-color: black;
	color: white;
}

.list-inline{
	list-style: none;
	padding-left: 0px;
}

.list-inline li {
	display: inline;
	padding: 10px;
}

.list-inline i {
	font-size: 50px;
}

#introduction p {
	margin-bottom: 40px;
}





















